a{
    text-decoration: none !important;
    color:black !important;
}
.px{
    margin-right: 50px;
}
ul li a{
    font-size: 20px;
}
ul li{
margin-right: 10px;
}
ul li a:hover{
    color: #3A9BDC !important;
}
.demo{
    border: 1px solid  #3A9BDC !important ;
    padding: 10px 30px !important;
    color: #3A9BDC !important;
}
.demo:hover,.hero-btn:hover,.about-btn:hover{
background-color: #3A9BDC !important;
color: #fff !important ;
}
.content-hero{
    margin-top: 50px;
    /* justify-content: center */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
}
.content-hero p{
    font-size: 24px;
    padding-top: 10px;
    color: #A5A8AA;
}
.hero-btn{
    border: 1px solid #3A9BDC !important;
    max-width: 150px;
    padding: 10px 0px !important;
    border-radius: 25px;
    text-align: center !important;
    font-size:18px ;
    color: #3A9BDC !important;

}

.flex{
    display: flex;
    align-items: center;
}
.bgcolorclint{
    background-color: #F4FAFD !important;
    width: 100% !important;
}
.client-img img{
    width: 70px !important;
    filter: grayscale(100%) !important;
    transition: 0.3s;
}
.client-img img:hover{
    filter: grayscale(0%) !important;
    transform: scale(2);
}
/* about section */
.about-btn{
    border: 2px solid #3A9BDC !important ;
    padding:11px 50px !important ;
    color: #3A9BDC !important;
}
.p-gray{
    color: #A5A8AA !important;
    font-size:20px ;
}
.card-About i{
    color: #3A9BDC;
}
.card-About:hover{
color: #3A9BDC !important;
}
.mrgin-20{
    /* background-color: #f0f0f0; */
    margin: 20px 0 !important;
    /* border: 1px solid red; */
}
.smileimg{
    align-items: center;
    margin: 10px;
}
.bi-emoji-smile{
margin-right: 10px;
    font-size: 3rem;
    color: #3A9BDC;


}

.img-p img{
box-sizing: border-box;
padding:20px 10px;
width: 100%;
}
/* contect */


/* media start form here */
@media screen and (max-width:770px){
    .client-img{
        width: 50% !important;
        margin: 0 auto !important;
    }
    .client-img img{
        margin-left: 100px;
    } 

    .about-res{
        max-width: 100% !important;
        margin: 0 auto !important;
        /* margin: 20px 0px !important; */
    }
    .mrgin-20{
        background-color: #f0f0f0;
        margin: 20px 0 !important;
        /* border: 1px solid red; */
    }
    .smile{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
    }
  
    
}
@media screen and (max-width:425px){
    .client-img{
        /* border: 1px solid red ; */
        width: 100% !important;
        margin: 0 auto !important;
        /* margin: 15px !important; */
    }
    .client-img img{
         /* border: 1px solid black ; */
        margin-left: 150px;
        padding: 20px;
        width: 50%; 
    } 
}
